<!-- src/pages/index.astro -->
---
import Game from '../components/Game.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Moldy Worldbuilding</title>
    </head>
    <body>
        <div id="title-screen" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; background-color: #f0e68c;">
            <h1>Moldy Worldbuilding</h1>
            <button id="start-button" style="padding: 10px 20px; font-size: 1.2em; cursor: pointer;">Start my journey</button>
        </div>
        <Game />
        <script>
            const startButton = document.getElementById('start-button');
            const titleScreen = document.getElementById('title-screen');

            if (startButton && titleScreen) {
                startButton.addEventListener('click', () => {
                    titleScreen.style.display = 'none';
                });

         
            }
        </script>
    </body>
</html>
