<!-- src/pages/index.astro -->
---
import Game from '../components/Game.astro';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Moldy Worldbuilding</title>
    </head>
    <body>
        <div id="title-screen" style="position: absolute; top: 0; left: 0; width: 100%; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #f0e68c; z-index: 10;">
            <cite style="max-width: 50%;">"Once, a philosopher dreamt he was a butterfly, drifting effortlessly on the wind. In his dream, he knew no care, no burden, only the joy of being. But when he awoke, he was no longer certain: was he a man who had dreamt he was a butterfly, or a butterfly now dreaming he was a man?"
                </cite>
                <p/>
                <cite style="max-width: 50%;">
                "You find yourself here, between waking and dreaming, between the self you know and the self you have yet to discover. This is a place of questions, of choices, of revelations. There are no wrong answers—only the truths you uncover along the way."</cite>
           <p/>
                <button id="start-button" style="padding: 10px 20px; font-size: 1.2em; cursor: pointer;">Wake up</button>
        </div>
        <Game />
        <script>
            const startButton = document.getElementById('start-button');

            if (startButton) {

                startButton.addEventListener('click', () => {
                    const titleScreen = document.getElementById('title-screen');
                    console.log("Removing title screen");
                    if(titleScreen) {
                        titleScreen.style.display = 'none';
                    }
                 
                });

         
            }
        </script>
    </body>
</html>
